body {
  width: 100%;
  font-kerning: normal;
}

.container {
  width: 500px;
  margin: auto;
}

div {
  text-align: left;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.about, .experience, .education {
  margin-bottom: 40px;
}

.founder {
  margin-bottom: 30px;
}

.numbers {
  font-family: 'futura';
  font-size: 16px;
  font-weight: 400;
}

p {
  font-weight: 100;
  font-family: 'Cardo', serif;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
}

.job-date {
  display: block;
  font-family: futura;
  font-size: 15px;
}

.job-title {
  display: block;
  font-family: futura;
}

.job-description {
  margin-bottom: 30px;
}

.image-description {
  font-family: 'Cardo', serif;
  font-size: 15px;
  font-style: italic;
  margin-bottom: 30px;
  text-align: center;
}

.contact-list {
  display: block;
  font-family: 'Cardo', serif;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.contact-item {
  display: block;
  font-family: 'Cardo', serif;
  text-align: center;
  margin-top: 7px;
}

::selection {
  color: black;
  background: #eaf3d0;
}

a {
  color: black;
}

/* visited link */
a:visited {
  color: #484949;
}

/* mouse over link */
a:hover {
  color: #06333b;
}

h1 {
  font-family: 'futura';
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 0;
  margin-top: 50px;
}

h2 {
  font-family: 'futura', sans-serif;
  font-size: 17px;
  font-weight: 400;
}

h3 {
  font-family: futura;
  font-size: 14px;
  font-weight: 400;
}

h4 {
  margin-bottom: 0;
}

.capitalized {
  text-transform: uppercase;
}

.stretched5 {
  text-align: justify;
  letter-spacing: 105px;
}

.stretched7 {
  text-align: justify;
  letter-spacing: 70px;
}

.stretched9 {
  text-align: justify;
  letter-spacing: 50px;
}

.stretched10 {
  text-align: justify;
  letter-spacing: 45px;
}

img {
  width: 100%;
  margin-bottom: 25px;
}

.line {
  border-top: 2px solid black;
  height: 20px;
  width: 90%;
  margin: auto;
}
