<footer class="site-footer">

  <div class="wrapper">
    <div class="line-container">
      <span class="line left half"></span>
      <span class="line right half"></span>
    </div>
    
    <div class="contact-container">
      <ul class="contact-list">
        <li class="contact-item">
          <a href="http://kollektivgallery.com/">kollektivgallery.com</a>
        </li>
        <li class="contact-item">
          <a href="mailto:sophiemggiblin@gmail.com">sophiemggiblin@gmail.com</a> 
        </li>
        <li class="contact-item">
          London, United Kingdom
        </li>
      </ul>       
    </div>

    <!-- <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div> -->

  </div>

</footer>
