/**
 * Site header
 */
.site-header {
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    a {
        box-shadow: none;
        &:hover {
            text-decoration: underline;
        }
    }


    .page-link {
        color: white;
        line-height: $base-line-height;
        
        font-family: $header-font-family;
        font-size: 40px;

        
        

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    
    position: absolute;
    top: 9px;
    left: $spacing-unit / 2;
    background-color: black;
    text-align: left;

    .menu-icon {
        display: block;
        position: relative;
        float: left;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;

        box-shadow: none;

        // > svg {
        //     width: 18px;
        //     height: 15px;

        //     path {
        //         fill: white;
        //     }
        // }


        &:before, &:after {
            content: '';
            background: white;
            position: absolute;
            left: 6px;
            width: 25px;
            height: 3px;
            -ms-transition: all 0.2s linear;
            -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear;

        }

        &:before {
            top: 13px;
        }

        &:after {
            bottom: 13px;
        }

        &.open {
            &:after, &:before {
                -ms-transform-origin: 70% 59%; /* IE 9 */
                -webkit-transform-origin: 70% 59%; /* Chrome, Safari, Opera */
                transform-origin: 70% 59%;
            }


            &:after {
            
            -ms-transform: rotate(45deg); /* IE 9 */
            -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
            transform: rotate(45deg);
            
            }

            &:before {
            
            -ms-transform: rotate(-45deg); /* IE 9 */
            -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
            transform: rotate(-45deg);
            
            }
        }

    }

    .trigger {
        clear: both;
        display: none;

        &.open {
            display: block;
        }
    }


    .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 5px;
    }
    
}



/**
 * Site footer
 */

.contact-container {

    .contact-list {
        text-align: center;
        margin-left: 0;

        .contact-item {
            display: block;
        }
    }
}




/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h1 {
        font-size: 42px;

        @include media-query($on-laptop) {
            font-size: 32px;
        }
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 16px;
        letter-spacing: 30px;
        margin-bottom: 30px;

        @include media-query($on-laptop) {
            font-size: 12px;
            letter-spacing: 20px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    h5 {
        font-size: 16px;
        margin-bottom: 0;
    }

    h6 {
        font-size: 15px;
        margin-bottom: 0;
    }
    
    p{
        margin-bottom: 30px;
    }

    img {
       margin-top: 20px; 
    }



    



}





.bold-number {
    font-family: $header-font-family;
}

.caption {
    font-size: 15px;
    font-style: italic;
    text-align: center;
    display: block;
    margin-bottom: 0px;
}



/* LINE ANIMATION */

.line-container {
    padding: 20px 0 40px 0;
    .line {
        width: 0;
        height: 1px;
        border-bottom: 1px solid black;
        transition: width .4s cubic-bezier(0.47, 0, 0.75, 0.72);
    }
}

/* ICONS */

.social-icon { 
    color: white;
    font-size: 35px;
    padding: 0 0 0 20px;
}
